<div class="row">
    <div class="col-xl-12 col-md-12 mb-4">

        <form method="post" id="form-atualizar">
            <div class="card shadow h-100">
                <div class="card-header header-filtrar borda-header-filtrar">
                    <div class="text-xs font-weight-bold text-uppercase m-0 titulo-header-filtrar">
                        Atualizar subcategoria
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="abasModuloConteudo">
                        <div class="tab-pane fade show active" id="cadastro" role="tabpanel"
                            aria-labelledby="cadastro-abas">
                            <div class="row">

                                <div class="col-md-12 text-center">

                                    <label for="avatar">
                                        <img width="200" height="200" [(src)]="imagem" id="imgavatar"
                                            class="mb-3 img-avatar user-avatar" />
                                    </label>
                                    <input type="file" #avatar name="avatar" id="avatar" class="form-control d-none"
                                        accept="image/*" (change)="carregarImagem(avatar)">

                                </div>

                                <div class="col-xl-3 col-md-4">
                                    <div class="form-group">
                                        <label for="nome">Nome*</label>
                                        <input type="text" class="form-control" name="nome" id="row-nome"
                                            [(ngModel)]="dados['nome']" placeholder="Ex: Plus size">
                                        <p class="erro-input" *ngIf="errorForm.nome && errorForm.nome === true">
                                            {{msgErrorForm.nome}}
                                        </p>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-4">
                                    <div class="form-group">
                                        <label for="status">Status*</label>
                                        <select class="custom-select" name="status" id="row-status"
                                            [(ngModel)]="dados['status']">
                                            <option value="">Selecione</option>
                                            <option value="Ativo">Ativo</option>
                                            <option value="Inativo">Inativo</option>
                                        </select>
                                        <p class="erro-input" *ngIf="errorForm.status && errorForm.status === true">
                                            {{msgErrorForm.status}}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-4">
                                    <div class="form-group">
                                        <label for="categorias">Categoria*</label>
                                        <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="dropdownList"
                                            [(ngModel)]="dados['categorias']" name="categorias">
                                        </ng-multiselect-dropdown>
                                        <p class="erro-input"
                                            *ngIf="errorForm.categorias && errorForm.categorias === true">
                                            {{msgErrorForm.categorias}}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-4">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-xl-2 offset-xl-10">
                            <button type="button" class="btn m-0 btn-block btn-modulo" id="btn-salvar"
                                [ngClass]="{'carregando': carregando}" [disabled]="carregando" (click)="atualizar()">
                                Salvar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>